* {
    padding: 0;
    margin: 0;
}
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}